*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.apk

/app/wromble-upload.keystore
/upload-keystore.jks
/upload_certificate.pem
/app/wromble-upload.keystore
/app/wromble-release.keystore
build.log

# Signerings-oplysninger (holdes ude af versionsstyring)
keystore.properties
